#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -d debian/repos/usr/bin
	install -m 755 cmd/repos/repos debian/repos/usr/bin/repos

override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/repos

override_dh_auto_build:
	cd cmd/repos && go build -o repos .

override_dh_auto_test:
	# No tests during package build
